<% include header.html %>
<div class="container-fluid">
    <div class="row-fluid">

        <div class="col-sm-9" style="background-color:#888888;height: 750px">

            <div class="col-sm-4 text-left">

                <ul>
                    <li style="margin: 30px"><img src="https://avatars.githubusercontent.com/u/94694830?v=4" class="img-circle" style="width:100px"></li>
                    <li style="margin: 30px"><font size="5" color="white">姓名:小董</font></li>
                    <li style="margin: 30px"><font size="5" color="white">职业:程序员</font></li>
                    <li style="margin: 30px"><font size="5" color="white">擅长:JAVA</font></li>
                    <li style="margin: 30px"><font size="5" color="white">爱好:技术狂</font></li>
                </ul>


            </div>
            <div class="col-sm-8 text-left">

                <ul>

                    <li style="margin-top: 100px"><font size="5" color="white">完善功能</font></li>
                    <li style="margin: 30px"><font size="3" color="white">1.修复文章标签错位</font></li>
                    <li style="margin: 30px"><font size="3" color="white">2.完善登录功能</font></li>
                    <li style="margin: 30px"><font size="3" color="white">3.增加一个登录简单的拦截</font></li>
                </ul>

            </div>

        </div>
        <div class="col-sm-3">

            <% include right.html %>

        </div>
    </div>
</div>
<% include footer.html %>